body {
  background-color: rgb(122, 211, 181);
}

#editor {
  display: flex;
  width: 70%;
  height: 40vh;
  overflow: scroll;
  background-color: rgb(178, 238, 218);
}
.container-fluid {
  display: flex;
  justify-content: center;
  margin-top: 4em;
}
.col-12 {
  top: 0%;
  width: 70%;
  background-color: rgb(38, 173, 128);
  position: sticky;
}
.new {
  top: 0%;
  width: 80%;
  background-color: rgb(38, 173, 128);
  position: sticky;
}
#preview {
  width: 80%;
  background-color: rgb(178, 238, 218);
}
